body {
    font-family: Arial;
    padding: 30px;
    background: #f2f2f2;
}

h1 {
    margin-bottom: 20px;
}

table {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a {
    background: #007bff;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
}

button {
    padding: 8px 14px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
